.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
.list-container {
    max-width: 800px;
}

.selected {
    background-color: green;
}